<section class="bg-main-light py-5">
    <div class="container">
        <h3>Get The fershcart app</h3>
        <h6 class="text-muted"> we will send you a  link open it your phone to download the app .</h6>
        <div class="row g-3">
            <div class="col-md-10">
                <input class="w-100 form-control " type="text" placeholder="Email....">
            </div>
            <div class="col-md-2 ">
           <button class="main-btn w-100">Share App Link</button>
            </div>
        </div>
      <hr>
      <p class="text-center">Copy Right 2023 © Ahmed farouk All Rights Reserved</p>
    </div>
</section>
