
<section  *ngIf="num1" class="w-75 mx-auto py-5">
    <h2 class="text-main fw-medium ">Forgot Password</h2>
    <div>
        <form   [formGroup]="frogot" >

            <label for="email">email</label>
            <input formControlName="email" type="email" class="form-control" placeholder="email...!"  id="email">
            <button (click)="Forgotpassword(frogot.value)" class="main-btn w-100 mt-2">Forgot Password</button>
            <p *ngIf="userMas" class="alert alert-danger ">{{userMas}}</p>
        </form>
    </div>
</section>



<section *ngIf="num2" class="w-50 mx-auto py-5">
    <h2 class="text-main fw-medium ">Reset Code</h2>
    <div>
        <form [formGroup]="reset" (submit)="resetpass(reset.value)">

            <label for="resetCode">resetCode</label>
            <input formControlName="resetCode" type="text" class="form-control" placeholder="resetCode...!"  id="resetCode">
            <button class="main-btn w-100 mt-2">Verify Reset Code</button>
            <p *ngIf="userMas" class="alert alert-danger ">{{userMas}}</p>
        </form>
    </div>


</section>


<section *ngIf="num3" class="w-50 mx-auto py-5">
    <h2 class="text-main fw-medium ">Reset Password</h2>
    <div>
        <form  [formGroup]="ResetPassword" (submit)="newpassword(ResetPassword.value)">

            <div>
                <label for="email">email</label>
            <input formControlName="email" type="email" class="form-control" placeholder="email...!"  id="email">
            </div>
            <div>

                <label for="newPassword">newPassword</label>
            <input formControlName="newPassword" type="password" class="form-control" placeholder="newPassword...!"  id="newPassword">
            </div>
            <button class="main-btn w-100 mt-2">Reset Password</button>
        </form>
    </div>
</section>
