.products{

    overflow: hidden;
    .logo{
        position: absolute;
        top: 10px;
        right: -40px;
     
        transition: all 1s;
    }
    .main-btn{
        transition: all 1s;
        opacity: 0;
        transform: translateY(150%);
        
    }
    &:hover .main-btn{
        transform: translateY(0);
        opacity: 1;
    
    }
    &:hover .logo{
        top: 10px;
        right: 40px;
    }

}



