<form [formGroup]="payment" (submit)="paymentsend()">

    <div>
        <label for="details">details</label>
        <input formControlName="details" type="text"  id="details" class="form-control my-2">
    </div>
    <div>
        <label for="phone">phone</label>
        <input formControlName="phone" type="text"  id="phone" class="form-control my-2">
    </div>
    <div>
        <label for="city">city</label>
        <input formControlName="city" type="text"  id="city" class="form-control my-2">

    </div>
    <button (click)="paymentsend()" class="btn btn-outline-success mb-2">checkout</button>
</form>
