<section>
    <nav #navbar class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">
  <img src="./assets/images/freshcart-logo.svg" alt="">
          </a>
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                      <a class="nav-link "  routerLinkActive="btn-activ"  routerLink="/home" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                  </li>
  
  
                
  
                 
                  <li class="nav-item">
                      <a class="nav-link "  routerLinkActive="btn-activ" routerLink="/products" aria-current="page">products <span class="visually-hidden">(current)</span></a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link "  routerLinkActive="btn-activ" routerLink="/brands" aria-current="page">brands <span class="visually-hidden">(current)</span></a>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link "  routerLinkActive="btn-activ" routerLink="/categories" aria-current="page">categories <span class="visually-hidden">(current)</span></a>
                  </li>
                
                
              </ul>
             
  
  
  
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-flex align-items-center ">
                <i role="button" routerLink="/forgotpassword" class="fa fa-gear fa-spin text-main fa-2x "></i>
              
               
                
               
              
                <li class="nav-item position-relative text-dark">
                    <a class="nav-link " routerLink="/wishlist" aria-current="page">
                        <i  class="fa fa-heart fa-2x text-main "></i>
                        <span class="visually-hidden">(current)</span></a>
                        <span #icon class="badge position-absolute top-0 end-0 bg-info ">{{c}}</span>
                      
                </li>
              
                <li class="nav-item position-relative text-dark">
                    <a class="nav-link " routerLink="/Cart" aria-current="page">
                        <i  class="fa fa-shopping-basket fa-2x text-main "></i>
                        <span class="visually-hidden">(current)</span></a>
                        <span #icon class="badge position-absolute top-0 end-0 bg-info ">{{count}}</span>
                </li>

              
  
              
                  <li class="nav-item d-flex align-items-center justify-content-center gap-3 me-2">
                      <i class="fa fa-facebook "></i>
                      <i class="fa fa-instagram"></i>
                      <i class="fa fa-twitter"></i>
                      <i class="fa fa-linkedin"></i>
                      <i class="fa fa-youtube"></i>
                  </li>
              
                  <li class="nav-item">
                 <span (click)="SignOut()" role="button">SignOut</span>
                 
                  </li>
  
               
                
                
              </ul>
          </div>
    </div>
  </nav>
  
</section>
